.home-container {
  .imgSearch {
    position: relative;
    top: 29px;
    left: 12px;
    cursor: pointer;
  }

  .search {
    input {
      width: 500px;
      height: 40px;
      padding-left: 45px;
      padding-top: 3px;
      padding-bottom: 3px;
      color: red;
      border-radius: 10px;
      outline: none;
      font-weight: 600;
    }
  }

  .custome {
    display: flex;
    gap: 15px;
    margin-top: 70px;

    .images-custome,
    .videos-custome {
      display: flex;
      gap: 5px;
      padding: 15px;
      border-radius: 10px;

      img {
        width: 24px;
        height: 24px;
      }
    }
    /* .active,
    .images:hover,
    .videos:hover {
      background: #f23635;
      color: #fff;
    } */
  }

  .templates {
    margin-top: 30px;
    .title {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .sp1 {
        font-size: 22px;
        font-weight: 600;
        color: #f23635;
      }
    }
  }

  .template {
    gap: 20px;
    display: flex;
    img {
      width: 360px !important;
      height: 240px;
      clip: rect(0, 200px, 150px, 0);
    }
  }
}
