.home-container {
  max-height: 100%;
  .imgSearch {
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: pointer;
  }

  .search {
    input {
      height: 40px;
      padding-left: 45px;
      padding-top: 3px;
      padding-bottom: 3px;
      color: red;
      border-radius: 10px;
      outline: none;
      font-weight: 600;
    }
  }

  .swap-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image-swap,
  .video-swap {
    .title {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      .sp1 {
        font-size: 22px;
        font-weight: 600;
        color: #f23635;
      }

      .sp2 {
        font-weight: 400;
      }
    }
  }

  .swiper {
    max-width: 100%;
    height: fit-content;
    justify-content: space-evenly;
  }

  .swiper-slide {
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    img {
      display: block;
      width: 100%;
    }
    .truncate {
      max-width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
